.Home {
	width: 100%;
	height: 100%;
	background-color: rgba(8, 183, 191, 0.75);
}

#home-container {
	width: 100%;
	height:100vh;
	background-image: url('../../../img/jogarsoccerappsoccerfield.jpg');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 95%;
}

.jogar-globe {
	background-image: url('../../../img/soccerglobe150.png');
	background-repeat: no-repeat;
	width: 150px;
	height: 150px;
	position: absolute;
    top: 20%;
    margin-top: -75px;
	left: 50%;
    margin-left: -75px;
}

#mission {
	cursor: default;
	color: white;
	font-family: 'Nunito-Light';
	position: relative;
	float: left;
	top: 67.5%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#up-arrow {
	background-image: url('../../../img/up-arrow.png');
	position: absolute;
	width: 34px;
	height: 19px;
	top: 92.5%;
	left: 50%;
	margin-left: -17px;
}

/*Desktop*/
@media (min-width: 768px) {
	#mission {
		width: 750px;
		font-size: 3.0em;
	}
}

/* Mobile */
@media (max-width: 767px) {
	#mission {
		width: 100%;
		font-size: 2.0em;
	}
}

@font-face { 
    font-family: 'Nunito-Light'; src: url('../Nunito/Nunito-Light.ttf'); 
}

@font-face { 
    font-family: 'Nunito-Regular'; src: url('../Nunito/Nunito-Regular.ttf'); 
}

@font-face { 
    font-family: 'Nunito-Bold'; src: url('../Nunito/Nunito-Bold.ttf'); 
}