#jogar-globe-news {
	background-image: url('../../../soccerglobe250.png');
    height: 250px;
    width: 250px;
    margin-left: 50%;
    left: -125px;
    position: absolute;
    margin-top: 150px;
}

#jogar-globe-news:hover {
    cursor: default;
}

/*Desktop*/
@media (min-width: 768px) {
    #news {
        width: 75vh;
    }
}

/* Mobile */
@media (max-width: 767px) {
    #news {
        width: 95%;
    }
}

#news {
    font-family: 'Nunito-Regular';
    margin: 500px auto;
    text-align: center;
    margin-bottom: 300px;
}

#news li {
    font-family: 'Nunito-Light';
    margin: 20px auto;
    text-align: left;
    font-size: 1.3em;
}

#news h1 {
    font-size: 3.5em;
    color: black;
}

#news h2 {
    font-family: 'Nunito-Bold';
    text-align: left;
}

#news h3 {
    font-family: 'Nunito-Bold';
    font-size: 1.8em;
    text-align: left;
    color: black;
    margin-bottom: 40px;
}

#news h4 {
    font-family: 'Nunito-Light';
    color: #262626;
}

#news h5 {
    font-family: 'Nunito-Light';
    font-size: 1.0em;
    color: #9B9B9B;
    float: right;
}

#news p {
    text-align: left;
    font-family: 'Nunito-Light';
    font-size: 1.3em;
    color: #4E4E4E;
}

#news hr {
    size: 10px;
    color: black;
    border-color: black;
    margin-top: 60px;
    margin-bottom: 40px;
}