#jogar-player-terms {
    background-image: url('../../../soccerplayer2.png');
    height: 350px;
    width: 350px;
    margin-left: 50%;
    left: -175px;
    position: absolute;
    margin-top: 125px;
}

#terms {
    font-family: 'Nunito-Regular';
    margin: 500px auto;
    text-align: center;
    margin-bottom: 300px;
}

#terms ol, ul {
    margin: 0;
    padding: 0 0 0 20px;
    text-align: left;
    font-size: 1.3em !important;
    font-family: 'Nunito-Light'!important;
}

#terms h1 {
    font-size: 3.5em;
    color: black;
}

#terms h2 {
    font-family: 'Nunito-Bold';
    text-align: left;
}

#terms h3 {
    font-family: 'Nunito-Light';
    font-size: 1.8em;
    text-align: left;
    color: black;
}

#terms h4 {
    font-family: 'Nunito-Light';
    color: #262626;
}

#terms p {
    text-align: left;
    font-family: 'Nunito-Light';
    font-size: 1.2em;
    color: #262626;
}

/*Desktop*/
@media (min-width: 768px) {
    #terms {
        width: 75vh;
    }
}

/* Mobile */
@media (max-width: 767px) {
    #terms {
        width: 95%;
    }
}